body {
    padding: 0;
    margin: 0;
    background: #f2f6e9;
    font-family: 'Raleway', sans-serif;
  }
  /*--- navigation bar ---*/
  .navbar {
    background:#0dc4d1;
  }
  .nav-link,
  .navbar-brand {
    color: #fff;
    cursor: pointer;
  }
  .nav-link {
    margin-left: 2em !important;
  }
  .nav-link:hover {
    color: #000;
  }
  .navbar-collapse {
    justify-content: flex-end;
  }
  
  .header {
    background-image: url(./perry-grone-lbLgFFlADrY-unsplash.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
  }
  
  .overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
  
  }
  
  .work{
  align-content: center;
  margin: 2rem;
  }
  .description {
    left: 50%;
    position: absolute;
    top: 45%;
    transform: translate(-50%, -55%);
    text-align: center;
  }
  .description h1 {
    color:#fff;
    font-family: 'Raleway', sans-serif;

  }
  .description p {
    color: #fff;
    font-size: 1.3rem;
    line-height: 1.5;
  }
  
  .features {
      margin:4em auto;
      padding:12em;
      position: relative;
  }
  
  .feature-title{
      color: #333;
      font-size: 1.3rem;
      font-weight: 700;
      margin-bottom: 20px;
      text-transform: uppercase;
  
  }
  
  .features img{
      -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    margin-bottom: 16px;
  }
  
  .page-footer {
    background-color: rgb(212, 75, 75);
    color: #ccc;
    padding: 60px 0 30px;
  }
  
  .foot{
      text-align: center;
  }
  
  .img{
      height: 20px;
      width: 20px;
  }

  .card{
    text-align: center;
  
  }
  
  .card-title{
    text-align: left;
    
   }

   .card-body{
    background-color:lightcyan;

   }
  h2{font-size:3.6rem;line-height:1.25}

  .panel-group{
    display:flex;
    flex-wrap: wrap;
    background: blue;
    color: white;
    padding: 3,3,3,3;
  }

  .panel > h2{
    margin-left: 13rem;


  }

